<!-- main app container -->
<div class="card m-5">
    <h3 class="card-header">Coupons Form</h3>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-12">
                    <label>Coupon Type*</label>
                    <select formControlName="coupon_type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.coupon_type.errors }">
                        <option value=""></option>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <div *ngIf="submitted && f.coupon_type.errors" class="invalid-feedback">
                        <div *ngIf="f.coupon_type.errors.required">Coupon Type is required</div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label>Coupon Code*</label>
                    <input type="text" formControlName="coupon_code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.coupon_code.errors }" />
                    <div *ngIf="submitted && f.coupon_code.errors" class="invalid-feedback">
                        <div *ngIf="f.coupon_code.errors.required">Coupon Code is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Start Date*</label>
                    <input type="date" formControlName="valid_from" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.valid_from.errors }" />
                    <div *ngIf="submitted && f.valid_from.errors" class="invalid-feedback">
                        <div *ngIf="f.valid_from.errors.required">Start Date is required</div>
                        <div *ngIf="f.valid_to.errors.pattern">Start Date must be a valid date in the format YYYY-MM-DD</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>End Date*</label>
                    <input type="date" formControlName="valid_to" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.valid_to.errors }" />
                    <div *ngIf="submitted && f.valid_to.errors" class="invalid-feedback">
                        <div *ngIf="f.valid_to.errors.required">End Date is required</div>
                        <div *ngIf="f.valid_to.errors.pattern">End Datemust be a valid date in the format YYYY-MM-DD</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Coupon Avaliability*</label>
                    <select formControlName="is_unlimited" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.is_unlimited.errors }">
                        <option></option>
                        <option [value]="cAvaliability.value" *ngFor="let cAvaliability of couponAvaliability">{{cAvaliability.viewValue}}</option>
                    </select>
                    <div *ngIf="submitted && f.is_unlimited.errors" class="invalid-feedback">
                        <div *ngIf="f.is_unlimited.errors.required">Coupon Avaliability is required</div>
                    </div>
                </div>
                <div class="form-group col-6" *ngIf="f.is_unlimited.value=='true'">
                    <label>Coupon Count*</label>
                    <input type="number" formControlName="coupon_count" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.is_unlimited.value=='true' && !!!(f.coupon_count.value)}" />
                    <div *ngIf="submitted && f.is_unlimited.value=='true' && !!!(f.coupon_count.value)" class="invalid-feedback">
                        <div *ngIf="f.is_unlimited.value=='true' && !!!(f.coupon_count.value)">Coupon Count is required</div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <ckeditor formControlName="tnc" [editor]="Editor"></ckeditor>
                </div>
                <div class="form-group col-6">
                    <label>Coupon Status</label>
                    <select formControlName="coupon_status" class="form-control">
                        <option value=""></option>
                        <option value="active">Is Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>
            </div>
            
            <h2>COUPON RULES:</h2>
            <ng-container formArrayName="rules">
                <div *ngFor="let rule of rules.controls;index as i">
                    <ng-container [formGroupName]="i">
                        <div class="card m-5">
                            <h3 class="card-header">Rule {{i+1}}</h3>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label>Min Amount*</label>
                                        <input type="number" formControlName="min_amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && ruleFormGruopControls(i).min_amount.errors }" />
                                        <div *ngIf="submitted && ruleFormGruopControls(i).min_amount.errors" class="invalid-feedback">
                                            <div *ngIf="ruleFormGruopControls(i).min_amount.errors.required">Min Amount is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Max Amount</label>
                                        <input type="number" formControlName="max_amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && ruleFormGruopControls(i).max_amount.errors }" />
                                        <div *ngIf="submitted && ruleFormGruopControls(i).max_amount.errors" class="invalid-feedback">
                                            <div *ngIf="ruleFormGruopControls(i).max_amount.errors.required">Max Amount is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Discount Type*</label>
                                        <select formControlName="discount_type" class="form-control" [ngClass]="{ 'is-invalid': submitted && ruleFormGruopControls(i).discount_type.errors }">
                                            <option value=""></option>
                                            <option value="percentage">Percentage</option>
                                            <option value="Rupees">Rupees</option>
                                        </select>
                                        <div *ngIf="submitted && ruleFormGruopControls(i).discount_type.errors" class="invalid-feedback">
                                            <div *ngIf="ruleFormGruopControls(i).discount_type.errors.required">Discount Type is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Discount Amount*</label>
                                        <input type="number" formControlName="discount" class="form-control" [ngClass]="{ 'is-invalid': submitted && ruleFormGruopControls(i).discount.errors }" />
                                        <div *ngIf="submitted && ruleFormGruopControls(i).discount.errors" class="invalid-feedback">
                                            <div *ngIf="ruleFormGruopControls(i).discount.errors.required">Discount Amount is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Max Discount Amount</label>
                                        <input type="number" formControlName="max_discount" class="form-control"/>
                                    </div>
                                </div>
                                
                                <div class="text-right">
                                    <span class="material-icons" (click)="addRule()">
                                        add_circle_outline
                                    </span>
                                    <span class="text-right material-icons" (click)="removeRule(i)">
                                        delete
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container> 
            <div class="text-left">
                <button class="btn btn-primary mr-1">Submit</button>
            </div>
        </form>
    </div>
</div>



<div bsModal #variableRef="bs-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" style="margin-top: 8%;">
        <div class="modal-content" *ngIf="variableRef.isShown">
            <div class="modal-header">
                <h2 class="modal-title pull-left">Coupons JSON Data</h2>
                <button type="button" class="close pull-right" (click)="variableRef.hide()" aria-label="Close">
                    <span class="material-icons">
                        close
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container json-area">
                    <pre>{{couponsJsonData | json}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>



